<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Confirm GitHub Sign in</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="shortcut icon" href="/static/img/favicon.ico" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3769691-98"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-3769691-98');
  </script>
</head>

<body>

  <div class="text-center">
    <div class="container-lg p-responsive py-6 py-lg-10">
      <img src="/static/img/githubplusslack.svg" class="mb-3 mb-sm-5 col-6 col-sm-12" style="max-width: 300px;">
      <p>Finish connecting your GitHub account to your slack account on </p>
      <p class="alt-lead text-gray col-md-8 mx-auto mb-3 mb-lg-4">
        {{teamSlackDomain}}.slack.com
      </p>
      <p>You will be able to view rich previews for GitHub links, open and close issues, and much more from Slack</p>
      </p>
      <a href="{{continueLink}}" class="btn btn-large btn-primary f4">Connect GitHub account</a>
    </div>
  </div>

  <div class="flex-justify-start pb-3 text-center">
    <p class="f6 text-gray500 mb-1">GitHub Inc. &copy;{{year}}</p>
    <p class="f6 text-gray500" style="vertical-align: text-bottom;">
      <a class="text-gray500" href="https://help.github.com/articles/github-terms-of-service/">Terms</a> / <a
        class="text-gray500" href="https://help.github.com/articles/github-privacy-statement/">Privacy</a>
    </p>
  </div>

</body>

</html>
