<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Access Denied</title>
    <link rel="stylesheet" href="/static/primer.css">
  </head>
  <body>
    <div style="margin: 20% auto; max-width: 500px; text-align: center;">
      <h2 class="alt-h2">We're not ready for you…yet.</h2>

      <p class="lead">
        We're putting the finishing touches on the new integration, but
        let us know if you would like to join the beta program.
      </p>

      <a class="btn btn-large btn-outline btn-primary" href="{{ url }}">Request Access</a>
    </div>
  </body>
</html>
