<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Slack + GitHub</title>
    <link rel="stylesheet" href="/static/css/primer.css">
  </head>
  <body>

    <div class="text-center">
      <div class="container-lg p-responsive py-6 py-lg-10">
        <img src="/static/img/githubplusslack.svg" class="mb-3 mb-sm-5 col-6 col-sm-12" style="max-width: 300px;">
        <h2 class="alt-h1 lh-condensed mb-3">Your ultimate productivity&nbsp;pair</h2>
        <p class="alt-lead text-gray col-md-8 mx-auto mb-3 mb-lg-4">
          With two of your most important workspaces connected, you’ll get updates about what’s happening on GitHub—without leaving Slack.
        </p>
        <a href="/slack/oauth/login" class="btn btn-large btn-primary f4">Add to Slack</a>
        <p class="f6 text-gray mx-auto col-sm-10 col-md-5 pt-3">
          Using an older version of GitHub + Slack? Installing the new integration will allow you to migrate subscriptions from legacy versions.
        </p>
      </div>
    </div>

    <div class="container-xl p-responsive py-6 f4">

      <div class="slack-ui">
      </div>

      <div class="mb-4">
        <h3 class="h3">Subscribe to repositories</h3>
        <p class="">
          Use ‘/github subscribe [repository name]’ in Slack to start receiving updates about that project.
        </p>
      </div>

      <div class="mb-4">
        <h3 class="">Stay up to date</h3>
        <p class="">
          Get updates about what’s happening with your repositories in Slack discussions for activities like:
        </p>
        <ul class="ml-3">
          <li>New commits</li>
          <li>New pull requests</li>
          <li>New issues</li>
          <li>Code reviews</li>
          <li>Deployment statuses</li>
        </ul>
      </div>

      <div class="mb-4">
        <h3 class="">See the details</h3>
        <p class="">
          Give your team more information in Slack when you share links to GitHub activities and properties like:
        </p>
        <ul class="ml-3">
          <li>Pull requests</li>
          <li>Issues</li>
          <li>Linked comments</li>
          <li>Code snippets</li>
          <li>Developer profiles</li>
        </ul>
      </div>


      <div class="text-center mx-auto col-sm-8 col-md-6">
        <hr class="mx-auto my-4" style="width:100px;">
        <p>The best part: It’s all open source and always getting better.</p>
        <a href="https://github.com/github-slack/app/blob/master/CONTRIBUTING.md">Contribute to the integration</a>
      </div>
    </div>

    <div class="bg-gray-light text-center">
      <div class="py-6 py-lg-10 container-lg p-responsive">
        <h3 class="alt-h2">Next level code collaboration</h3>
        <p class="lead col-md-6 mx-auto">
          From real-time updates to context for GitHub links, you won’t know how you survived without it.
        </p>
        <a href="/slack/oauth/login" class="btn btn-large btn-primary f4">Add to Slack</a>
        <a href="https://github.com/integrations/slack" class="mt-4 d-block">Learn more about the GitHub and Slack integration</a>
      </div>
    </div>

  </body>
</html>
