<div style="text-center">
  <h1>GitHub + Slack</h1>
  <h2 class="alt-h1">Your ultimate productivity pair</h2>
  <p class="alt-lead">
    With two of your most important workspaces connected, you’ll get updates about what’s happening on GitHub—without leaving Slack.
  </p>
  <button href="/slack/oauth/login" class="btn-large">Add to Slack</button>
  <p class="f6">
    Using an older version of GitHub + Slack? Installing the new integration will allow you to migrate subscriptions from legacy versions.
  </p>
</div>

<div class="">

  <div class="">
    <h3 class="alt-h3">Subscribe to repositories</h3>
    <p class="">
      Use ‘/github subscribe [repository name]’ in Slack to start receiving updates about that project.
    </p>
  </div>

  <div class="">
    <h3 class="alt-h3">Stay up to date</h3>
    <p class="">
      Get updates about what’s happening with your repositories in Slack discussions for activities like:
    </p>
    <ul>
      <li>New commits</li>
      <li>New pull requests</li>
      <li>New issues</li>
      <li>Code reviews</li>
      <li>Deployment statuses</li>
    </ul>
  </div>

  <div class="">
    <h3 class="alt-h3">See the details</h3>
    <p class="">
      Give your team more information in Slack when you share links to GitHub activities and properties like:
    </p>
    <ul>
      <li>Pull requests</li>
      <li>Issues</li>
      <li>Linked comments</li>
      <li>Code snippets</li>
      <li>Developer profiles</li>
    </ul>
  </div>

  <hr class="">

  <p>The best part: It’s all open source and always getting better.</p>
  <a href="https://github.com/github-slack/app/blob/master/CONTRIBUTING.md">Contribute to the integration</a>

</div>

<div class="text-center">
  <h3 class="alt-h2">Next level code collaboration</h3>
  <p class="text-lead">
    From real-time updates to context for GitHub links, you won’t know how you survived without it.
  </p>
  <button href="/slack/oauth/login" class="btn-large">Add to Slack</button>
  <a href="https://github.com/integrations/slack">Learn more about the GitHub and Slack integration</a>
</div>
