<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Slack + GitHub</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <meta property="og:title" content="GitHub + Slack">
    <meta property="og:description" content="Bring your code to the conversations you care about with the GitHub and Slack integration.">
    <meta property="og:image" content="/static/img/og-image.png">
    <meta property="og:url" content="http://slack.github.com/">
    <meta name="twitter:title" content="GitHub + Slack">
    <meta name="twitter:description" content="Bring your code to the conversations you care about with the GitHub and Slack integration.">
    <meta name="twitter:image" content="/static/img/og-image.png">
    <meta name="twitter:card" content="summary_large_image">
  </head>
  <body>

    <div class="confetti-left text-center">
      <div class="confetti-right">
        <div class="container-lg p-responsive py-6 py-lg-10">
          <img src="/static/img/githubplusslack.svg" class="mb-3 mb-sm-5 col-6 col-sm-12" style="max-width: 300px;">
          <h2 class="alt-h1 lh-condensed mb-3">Your ultimate productivity&nbsp;pair</h2>
          <p class="alt-lead text-gray col-md-8 mx-auto mb-3 mb-lg-4">
            With two of your most important workspaces connected, you’ll get updates about what’s happening on GitHub—without leaving Slack.
          </p>
          <a href="/slack/oauth/login" class="btn btn-large btn-primary f4">Add to Slack</a>
          <p class="f6 text-gray mx-auto col-sm-10 col-md-5 pt-3">
            Using an older version of GitHub + Slack? Installing the new app will allow you to migrate subscriptions from legacy versions.
          </p>
        </div>
      </div>
    </div>

    <div class="container-lg p-responsive mx-auto py-2 f4 col-md-8 col-lg-12">

      <div class="d-lg-flex flex-items-center flex-row-reverse">

        <div class="ui-slack col-lg-7 pl-lg-4">
          <div class="p-3 p-md-4 box-shadow-extra-large">
            <div class="ui-uptodate">
              <div class="clearfix mb-2 ui-message ui-subscribe">
                <div class="float-left mr-3">
                  <img src="https://avatars3.githubusercontent.com/u/527589?s=400&u=79ec5962a01182864497e6d88d8b0aaa9db14019&v=4" class="rounded-2" style="width: 40px;">
                </div>
                <div class="overflow-hidden mt-n1">
                  <p class="mb-0">
                    <span class="ui-bold">sophshep</span>
                    <span class="ml-1 text-gray-light f6">10:30 AM</span>
                  </p>
                  <p>
                    /github subscribe <a href="https://github.com/github/fetch/">https://github.com/github/fetch</a>
                  </p>
                </div>
              </div>
              <div class="clearfix mb-2 ui-message">
                <div class="float-left mr-3">
                  <img src="/static/img/github-mark.png" class="rounded-2" style="width: 40px;">
                </div>
                <div class="overflow-hidden mt-n1">
                  <p class="mb-0">
                    <span class="ui-bold">GitHub</span>
                    <span class="mr-1 ui-app-label">APP</span>
                    <span class="text-gray-light f6">10:30 AM</span>
                  </p>
                  <p class="ui-bot-content">
                    subscribed to <a href="https://github.com/github/fetch">github/fetch</a>
                  </p>
                </div>
              </div>
              <div class="clearfix ui-message">
                <div class="float-left mr-3">
                  <img src="/static/img/github-mark.png" class="rounded-2" style="width: 40px;">
                </div>
                <div class="overflow-hidden mt-n1">
                  <p class="mb-0">
                    <span class="ui-bold">GitHub</span>
                    <span class="mr-1 ui-app-label">APP</span>
                    <span class="text-gray-light f6">11:35 AM</span>
                  </p>
                  <p class="mb-1">Pull request opened by bkeepers</p>
                  <div class="ui-bot-content green">
                    <div class="d-table v-align-middle mb-1">
                      <img src="https://avatars3.githubusercontent.com/u/173?s=400&v=4" class="rounded-1 d-table-cell v-align-top mr-2" style="width: 20px;">
                      <span class="text-gray d-table-cell v-align-middle">bkeepers</span>
                    </div>
                    <p class="text-bold mb-1">
                      <a href="https://github.com/github/fetch/pull/521">
                        #521 Add additional fallbacks
                      </a>
                    </p>
                    <p>
                      This extends the solution in #253 for React Native compatibility.
                    </p>
                    <div class="">
                      <img src="/static/img/github-mark.png" class="rounded-1 float-left mr-2" style="width: 17px;">
                      <p class="text-gray f6">github/fetch | Today at 11:35 AM</p>
                    </div>
                  </div>
                  <div class="ui-feature" data-category="feature-deployment">
                    <div class="ui-bot-content red my-1">
                      <div class="pt-1">
                        <img src="/static/img/codecov.png" class="rounded-1 float-left mr-2" style="width: 17px;">
                        <p class="text-gray f6">codecov/project: 97.04% (-0.1) compared to b8b2627</p>
                      </div>
                    </div>
                    <div class="ui-bot-content red my-1">
                      <div class="pt-1">
                        <img src="/static/img/codecov.png" class="rounded-1 float-left mr-2" style="width: 17px;">
                        <p class="text-gray f6">codecov/patch: 0% of diff hit (target 97.14%)</p>
                      </div>
                    </div>
                    <div class="ui-bot-content green my-1">
                      <div class="">
                        <p class="mb-1">✅ 3 other checks have passed</p>
                        <p class="text-gray f6">3/5 successful checks</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!--end ui-->

        <div class="features col-lg-5 pr-lg-4 my-4">
          <div class="mb-4">
            <h3 class="alt-h2">Stay up to date</h3>
            <p class="preview-subscribe">
              Use <span class="alt-mono-font bg-gray f5">/github subscribe [repository name]</span> in Slack to start receiving updates about activities like:
            </p>
            <ul class="ml-3">
              <li>New commits</li>
              <li><span class="ui-preview" data-id="feature-pr">New pull requests<span></li>
              <li>New issues</li>
              <li>Code reviews</li>
              <li><span class="ui-preview" data-id="feature-deployment">Deployment statuses</span></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mt-lg-9 d-lg-flex flex-items-center">

        <div class="ui-slack col-lg-7 pr-lg-4">
          <div class="p-3 p-md-4 box-shadow-extra-large">
            <div class="ui-uptodate">
              <div class="clearfix ui-message">

                <div class="clearfix mb-2 ui-message ui-subscribe">
                  <div class="float-left mr-3">
                    <img src="https://avatars0.githubusercontent.com/u/18125109?s=400&v=4" class="rounded-2" style="width: 40px;">
                  </div>
                  <div class="overflow-hidden mt-n1">
                    <p class="mb-0">
                      <span class="ui-bold">rubyjazzy</span>
                      <span class="ml-1 text-gray-light f6">10:30 AM</span>
                    </p>
                    <p>
                      I figured out where it's being parsed, but where is the hex coming from? <a href="http://github.com/atom/atom/blob/master/src/color.js#L116-L119">http://github.com/atom/atom/blob/master/src/color.js#L116-L119</a>
                    </p>
                    <div class="ui-bot-content">
                      <p>
                        <a href="" class="ui-bold">src/color.js:L116-L119</a>
                      </p>
                      <div class="ui-code mb-1">
                        function parseColor (colorString) {<br>
                          &nbsp;&nbsp;&nbsp;&nbsp;const color = parseInt(colorString, 10)<br>
                          &nbsp;&nbsp;&nbsp;&nbsp;return isNaN(color) ? 0 : Math.min(Math.max(color, 0), 255)<br>
                        }
                      </div>
                      <p>
                        <a href="http://github.com/atom/atom/blob/master/src/color.js#L116-L119">Show more...</a>
                      </p>
                      <div class="">
                        <img src="/static/img/atom-mark.png" class="rounded-1 float-left mr-2" style="width: 17px;">
                        <p class="text-gray f6">atom/atom | Added by GitHub</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div><!--end ui-->

        <div class="features col-lg-5 pl-lg-4 my-4">
          <div class="mb-4">
            <h3 class="alt-h2">See the details</h3>
            <p class="">
              Give your team more information in Slack when you share links to GitHub activities and properties like:
            </p>
            <ul class="ml-3">
              <li>Pull requests</li>
              <li>Issues</li>
              <li>Linked comments</li>
              <li>Code snippets</li>
              <li>Developer profiles</li>
            </ul>
          </div>
        </div>

      </div>


    </div>

    <div class="text-center mx-auto col-sm-8 col-md-6 my-6 my-lg-9 f4">
      <hr class="mx-auto my-4" style="width:50px;">
      <p class="alt-h4 text-normal text-gray mb-1">The best part:</p>
      <p class="f4 mb-3">It’s all open source and always getting better.</p>
      <a href="https://github.com/integrations/slack/blob/master/CONTRIBUTING.md" class="btn btn-outline">Contribute <span class="d-none d-md-inline">to the integration</span></a>
    </div>

    <div class="bg-gray-light confetti-left text-center">
      <div class="confetti-right">
        <div class="py-6 py-lg-10 container-lg p-responsive">
          <h3 class="alt-h2">Next level code collaboration</h3>
          <p class="lead col-sm-8 col-md-6 mx-auto">
            From real-time updates to context for GitHub links, you won’t know how you survived without it.
          </p>
          <a href="/slack/oauth/login" class="btn btn-large btn-primary f4">Add to Slack</a>
          <a href="https://github.com/integrations/slack" class="mt-4 d-block">Learn more about the GitHub and Slack integration</a>
        </div>
      </div>
    </div>

<!--
  TODO: finish interactions to highlight features
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/script.js"></script>
-->

  </body>
</html>
