[
    {
        "scope": "https://api.github.com:443",
        "method": "get",
        "path": "/repos/atom/atom",
        "body": "",
        "status": 200,
        "response": {
            "id": 3228505,
            "name": "atom",
            "full_name": "atom/atom",
            "owner": {
                "login": "atom",
                "id": 1089146,
                "avatar_url": "https://avatars2.githubusercontent.com/u/1089146?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/atom",
                "html_url": "https://github.com/atom",
                "followers_url": "https://api.github.com/users/atom/followers",
                "following_url": "https://api.github.com/users/atom/following{/other_user}",
                "gists_url": "https://api.github.com/users/atom/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/atom/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/atom/subscriptions",
                "organizations_url": "https://api.github.com/users/atom/orgs",
                "repos_url": "https://api.github.com/users/atom/repos",
                "events_url": "https://api.github.com/users/atom/events{/privacy}",
                "received_events_url": "https://api.github.com/users/atom/received_events",
                "type": "Organization",
                "site_admin": false
            },
            "private": false,
            "html_url": "https://github.com/atom/atom",
            "description": ":atom: The hackable text editor",
            "fork": false,
            "url": "https://api.github.com/repos/atom/atom",
            "forks_url": "https://api.github.com/repos/atom/atom/forks",
            "keys_url": "https://api.github.com/repos/atom/atom/keys{/key_id}",
            "collaborators_url": "https://api.github.com/repos/atom/atom/collaborators{/collaborator}",
            "teams_url": "https://api.github.com/repos/atom/atom/teams",
            "hooks_url": "https://api.github.com/repos/atom/atom/hooks",
            "issue_events_url": "https://api.github.com/repos/atom/atom/issues/events{/number}",
            "events_url": "https://api.github.com/repos/atom/atom/events",
            "assignees_url": "https://api.github.com/repos/atom/atom/assignees{/user}",
            "branches_url": "https://api.github.com/repos/atom/atom/branches{/branch}",
            "tags_url": "https://api.github.com/repos/atom/atom/tags",
            "blobs_url": "https://api.github.com/repos/atom/atom/git/blobs{/sha}",
            "git_tags_url": "https://api.github.com/repos/atom/atom/git/tags{/sha}",
            "git_refs_url": "https://api.github.com/repos/atom/atom/git/refs{/sha}",
            "trees_url": "https://api.github.com/repos/atom/atom/git/trees{/sha}",
            "statuses_url": "https://api.github.com/repos/atom/atom/statuses/{sha}",
            "languages_url": "https://api.github.com/repos/atom/atom/languages",
            "stargazers_url": "https://api.github.com/repos/atom/atom/stargazers",
            "contributors_url": "https://api.github.com/repos/atom/atom/contributors",
            "subscribers_url": "https://api.github.com/repos/atom/atom/subscribers",
            "subscription_url": "https://api.github.com/repos/atom/atom/subscription",
            "commits_url": "https://api.github.com/repos/atom/atom/commits{/sha}",
            "git_commits_url": "https://api.github.com/repos/atom/atom/git/commits{/sha}",
            "comments_url": "https://api.github.com/repos/atom/atom/comments{/number}",
            "issue_comment_url": "https://api.github.com/repos/atom/atom/issues/comments{/number}",
            "contents_url": "https://api.github.com/repos/atom/atom/contents/{+path}",
            "compare_url": "https://api.github.com/repos/atom/atom/compare/{base}...{head}",
            "merges_url": "https://api.github.com/repos/atom/atom/merges",
            "archive_url": "https://api.github.com/repos/atom/atom/{archive_format}{/ref}",
            "downloads_url": "https://api.github.com/repos/atom/atom/downloads",
            "issues_url": "https://api.github.com/repos/atom/atom/issues{/number}",
            "pulls_url": "https://api.github.com/repos/atom/atom/pulls{/number}",
            "milestones_url": "https://api.github.com/repos/atom/atom/milestones{/number}",
            "notifications_url": "https://api.github.com/repos/atom/atom/notifications{?since,all,participating}",
            "labels_url": "https://api.github.com/repos/atom/atom/labels{/name}",
            "releases_url": "https://api.github.com/repos/atom/atom/releases{/id}",
            "deployments_url": "https://api.github.com/repos/atom/atom/deployments",
            "created_at": "2012-01-20T18:18:21Z",
            "updated_at": "2017-11-16T13:53:43Z",
            "pushed_at": "2017-11-16T14:14:11Z",
            "git_url": "git://github.com/atom/atom.git",
            "ssh_url": "git@github.com:atom/atom.git",
            "clone_url": "https://github.com/atom/atom.git",
            "svn_url": "https://github.com/atom/atom",
            "homepage": "https://atom.io",
            "size": 296378,
            "stargazers_count": 41696,
            "watchers_count": 41696,
            "language": "JavaScript",
            "has_issues": true,
            "has_projects": true,
            "has_downloads": true,
            "has_wiki": false,
            "has_pages": false,
            "forks_count": 7840,
            "mirror_url": null,
            "archived": false,
            "open_issues_count": 948,
            "forks": 7840,
            "open_issues": 948,
            "watchers": 41696,
            "default_branch": "master",
            "license": {
                "key": "mit",
                "name": "MIT License",
                "spdx_id": "MIT",
                "url": "https://api.github.com/licenses/mit",
                "featured": true
            },
            "organization": {
                "login": "atom",
                "id": 1089146,
                "avatar_url": "https://avatars2.githubusercontent.com/u/1089146?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/atom",
                "html_url": "https://github.com/atom",
                "followers_url": "https://api.github.com/users/atom/followers",
                "following_url": "https://api.github.com/users/atom/following{/other_user}",
                "gists_url": "https://api.github.com/users/atom/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/atom/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/atom/subscriptions",
                "organizations_url": "https://api.github.com/users/atom/orgs",
                "repos_url": "https://api.github.com/users/atom/repos",
                "events_url": "https://api.github.com/users/atom/events{/privacy}",
                "received_events_url": "https://api.github.com/users/atom/received_events",
                "type": "Organization",
                "site_admin": false
            },
            "network_count": 7840,
            "subscribers_count": 2374
        },
        "rawHeaders": [
            "GitHub.com",
            "Thu, 16 Nov 2017 14:14:12 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "5292",
            "close",
            "Status",
            "200 OK",
            "X-RateLimit-Limit",
            "60",
            "X-RateLimit-Remaining",
            "57",
            "X-RateLimit-Reset",
            "1510845201",
            "public, max-age=60, s-maxage=60",
            "ETag",
            "\"c9e9036303abbb1ec950cfa00918ee11\"",
            "Last-Modified",
            "Thu, 16 Nov 2017 13:53:43 GMT",
            "X-GitHub-Media-Type",
            "github.drax-preview; format=json",
            "ETag, Link, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval",
            "*",
            "default-src 'none'",
            "max-age=31536000; includeSubdomains; preload",
            "nosniff",
            "deny",
            "1; mode=block",
            "0.052699",
            "DDB9:4FC2:43AACC:93DF29:5A0D9D34"
        ]
    },
    {
        "scope": "http://127.0.0.1:56758",
        "method": "POST",
        "path": "/slack/command",
        "body": {
            "token": "test",
            "team_id": "T0001",
            "team_domain": "example",
            "enterprise_id": "E0001",
            "enterprise_name": "Globular%20Construct%20Inc",
            "channel_id": "C2147483705",
            "channel_name": "test",
            "user_id": "U2147483697",
            "user_name": "Steve",
            "command": "/github",
            "text": "subscribe https://github.com/atom/atom",
            "response_url": "https://hooks.slack.com/commands/1234/5678",
            "trigger_id": "13345224609.738474920.8088930838d88f008e0"
        },
        "status": 200,
        "response": {
            "response_type": "in_channel",
            "text": "Subscribed <#C2147483705> to <https://github.com/atom/atom|atom/atom>"
        },
        "rawHeaders": [
            "Express",
            "Content-Type",
            "application/json; charset=utf-8",
            "109",
            "ETag",
            "W/\"6d-D9TbMzJAqDjBsa/5KS68lYV1Q+U\"",
            "Thu, 16 Nov 2017 14:14:13 GMT",
            "close"
        ]
    }
]