@import "../../node_modules/primer-support/index.scss";

// Core modules
@import "../../node_modules/primer-base/lib/normalize.scss";
@import "../../node_modules/primer-base/lib/base.scss";
@import "../../node_modules/primer-base/lib/typography-base.scss";

//Buttons
@import "../../node_modules/primer-buttons/lib/button.scss";

// Layout
@import "../../node_modules/primer-layout/lib/container.scss";
@import "../../node_modules/primer-layout/lib/grid.scss";

// Utilities
@import "../../node_modules/primer-utilities/lib/animations.scss";
@import "../../node_modules/primer-utilities/lib/borders.scss";
@import "../../node_modules/primer-utilities/lib/box-shadow.scss";
@import "../../node_modules/primer-utilities/lib/colors.scss";
@import "../../node_modules/primer-utilities/lib/flexbox.scss";
@import "../../node_modules/primer-utilities/lib/layout.scss";
@import "../../node_modules/primer-utilities/lib/margin.scss";
@import "../../node_modules/primer-utilities/lib/padding.scss";
@import "../../node_modules/primer-utilities/lib/typography.scss";
@import "../../node_modules/primer-utilities/lib/visibility-display.scss";

// marketing-specific
@import "../../node_modules/primer-marketing-support/lib/variables.scss";
@import "../../node_modules/primer-marketing-type/lib/typography.scss";
@import "../../node_modules/primer-marketing-buttons/lib/button.scss";
@import "../../node_modules/primer-marketing-utilities/lib/filters.scss";
@import "../../node_modules/primer-marketing-utilities/lib/borders.scss";
@import "../../node_modules/primer-marketing-utilities/lib/layout.scss";
@import "../../node_modules/primer-marketing-utilities/lib/margin.scss";
@import "../../node_modules/primer-marketing-utilities/lib/padding.scss";

.confetti-left {
  @include breakpoint(sm) {
    background-image: url('../img/confetti-1.svg');
    background-repeat: no-repeat;
    background-position: 2% 4%;
    background-size: 20%;
  }
  @include breakpoint(md) {
    background-position: 1% 4%;
    background-size: 18%;
  }
  @include breakpoint(xl) {
    background-position: 3% 10%;
    background-size: 20%;
  }
}

.ui-slack {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  @include breakpoint(md) {
    font-size: 15px;
  }
}

.ui-bold {
  font-weight: 900;
}

.ui-app-label {
  color: #a0a0a2;
  background: #e8e8e8;
  padding: 0 2px;
  font-size: 13px;
}

.ui-bot-content {
  position: relative;
  padding-left: 12px;

  &:before {
    content:'';
    width: 4px;
    height: 100%;
    background-color: $black;
    position: absolute;
    left: 0;
    border-radius: 25px;
  }
  &.green:before{
    background-color: $green-500;
  }
  &.red:before{
    background-color: $red-500;
  }
}

.ui-message {
  opacity: 0;
  animation: .5s slideIn;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  &:nth-child(1) {
    animation-delay: 1s;
  }
  &:nth-child(2) {
    animation-delay: 2s;
  }
  &:nth-child(3) {
    animation-delay: 3s;
  }
  &:nth-child(4) {
    animation-delay: 4s;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


//div:not(.ui-subscribe) {
  //  opacity: 1;
  //}

.preview-subscribe:hover ~ .ui-slack {

    opacity: 0.6 !important;

}
